<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="freeboard" type="teamproject5.a01_Jangho.a04_VO.FreeBoard"/>
		<typeAlias alias="video" type="teamproject5.a01_Haeun.VO.Video"/>
		<typeAlias alias="cag" type="teamproject5.a01_sechan.vo.category"/>
		<typeAlias alias="qz" type="teamproject5.a01_sechan.vo.quiz"/>
		<typeAlias alias="member" type="teamproject5.a01_Haeun.VO.Member"/>
	</typeAliases>
	<!-- 사용할 sql 파일 처리
		업무별 기능 분류로 sql 파일을 분리시켜서 처리
		사원정보의 리스트, 등록, 수정, 삭제, 상세화면 조회 : /EmpMapper.xml
		게시판의 리스트, 수정, 답글달기, 삭제...			/BoardMapper.xml
	-->
	<mappers>
		<mapper resource="resource/ProjectMapper.xml"/>
		<mapper resource="resource/gamtanMapper.xml"/>
        <mapper resource="resource/memberMapper.xml"/>
        <mapper resource="resource/boardMapper.xml"/>
	</mappers>
</configuration>